<% provide(:title, @user.username) %>
<h1>
  こんにちは、<%= @user.username %>さん！
</h1>

<p><%= @user.username %>さん専用のページです。</p>

<div class="col-md-8">
<% if @user.saving_items.any? %>
  <h3>saving_items</h3>
  <ol class="saving_items">
    <%= render @saving_items %>
  </ol>
<% end %>
</div>

<%= link_to 'プロフィール編集', edit_user_registration_path %>