<div class="center jumbotron">    
  <h1>節約メーターへようこそ！</h1>
  <h2>
    あなたが1日に我慢したものを記録して合計でどれだけ節約できたのかが分かります。
  </h2>

  <%= link_to "はじめる", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("saving.png", alt: "Saving.logo") %>