<li id="saving_item-<%= saving_item.id %>">
  <span class="user"><%= link_to saving_item.user.name, saving_item.user %></span>
  <span class="content"><%= saving_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(saving_item.created_at) %> ago.
  </span>
</li>