<footer class="page-footer  teal accent-4">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">節約メーター</h5>
      <p class="grey-text text-lighten-4">どんどん節約しましょう！</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <ul>
        <li><%= link_to "お問い合わせ", home_contact_path, class: "grey-text text-lighten-3" %></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2019 節約メーター
  </div>
</div>
</footer>