<header class="navbar navbar-fixed-to navbar-inverse">
      <div class="container">
        <%= link_to "節約メーター", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ホーム", '#' %></li>
            <li><%= link_to "ホーム", '#' %></li>
            <li><%= link_to "ホーム", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>